extends layout

block content
  h1 Overview

  h3 Docs
  ul
    li
      a(href="http://docs.rackspace.com/cm/api/v1.0/cm-devguide/content/index.html", target="_blank") Docs Dev Guide
    li
      a(href="http://docs.rackspace.com/cm/api/v1.0/cm-releasenotes/content/index.html", target="_blank") Docs Release Notes
